#footer{
    font-family: vazirmatn;
    background: rgb(248 250 252);
    height: 450px;
}
#footer>#footerTop{
    border-bottom: 1px solid #ccc;
    width: 1250px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
}
#footer>#footerTop>.logo{
    width: 110px;
    height: 100%;
    background: url("../images/logo.PNG") 50% no-repeat;
    background-size: contain;
}
#footer>#footerTop>.calling{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#footer>#footerTop>.calling>span{
    width: 30px;
    height: 30px;
}
#footer>#footerTop>.calling>span>img{
    width: 100%;
    height: 100%;
}
#footer>#footerTop>.calling>p{
    font-size: 14px;
    color: rgb(51 65 85);
}
#footer>#footerTop>.calling>p>span{
    font-size: 16px;
    margin-right: 10px;
}

#footer>#footerBottom{
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}
#footer>#footerBottom>.information{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#footer>#footerBottom>.information>ul{
    color: rgb(51 65 85);
    list-style: none;
    font-weight: 400;
}
#footer>#footerBottom>.information>ul>li{
    color: rgb(100 116 139);
    line-height: 40px;
}

#footer>#footerBottom>.confirmation{
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
#footer>#footerBottom>.confirmation>img{
    width: 100%;
    height: 100%;
}
