body{
    margin: 0;
    direction: rtl;
}
#header{
    /* border: 1px solid #000; */
    width: 100%;
    height: 130px;
    position: relative;
    z-index: 20;
}
#header>.mainHead>#top{
    height: 65px;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 20px;
}
#header>.mainHead>#top>.logo{
    height: 40px;
    width: 150px;
    background: url(../images/Capture.PNG) 98% 50% no-repeat;
    background-size: contain;
}

#header>.mainHead>#top>.search{
    width: 60%;
}
#header>.mainHead>#top>.search>input{
    width: 90%;
    border: 0 none;
    outline: 0 none;
    padding: 10px;
    border-radius: 7px;
    font-family: vazirmatn; 
    font-size: 16px;
    text-indent: 50px;
    background: url("../images/icons/search.PNG") rgba(245,246,248,1) 98% 50% no-repeat;
    background-size: 25px;
}
#header>.mainHead>#top>.search>input::placeholder{
    opacity: 0.7;
}

#header>.mainHead>#top>.signupLogin{
    border: 1px solid rgb(158 214 217);
	border-radius:8px;
	background:url(../images/icons/profile.PNG) no-repeat 90% 50%;
	background-size:22px;	
	width:140px;
	height:40px;
    font-family: vazirmatn;
	font-size:14px;
    color: rgb(0 124 125);
	text-indent:45px;
	line-height:40px;
}

#header>.mainHead>#top>.sabad{
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 42px;
    height: 42px;
    background: url("../images/icons/sabad.PNG") 40% no-repeat;
    background-size: 74% 75%;
}


#header>.mainHead>#bottom{
    height: 61px;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 15px;

}
#header>.mainHead>#bottom>.categoryBox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#header>.mainHead>#bottom>.categoryBox>.categoryButton{
    width: 160px;
    height: 45px;
    background: url("../images/icons/category.PNG") #f5fafa 90% 50% no-repeat;
    background-size: 12% 42%;
    color: rgb(0 124 125);
    border-radius: 25px;
    font-size: 14px;
    font-family: vazirmatn;
    font-weight: 600;
    text-indent: 20px;
    text-align: center;
    align-content: center;
}

#header>.mainHead>#bottom>.categoryBox>ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 40px;
    border-right: 1px solid #ccc;
    list-style: none;
    font-size: 13px;
    font-family: vazirmatn;
    font-weight: 300;
    padding: 5px 20px 0;
    margin-right: 20px;
}

#header>.mainHead>#bottom>.darkhasteVam{
    width: 110px;
    height: 30px;
    border-radius: 20px;
    background: #f5fafa;
    color: rgb(40 82 228);
    font-family: vazirmatn;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    align-content: center;
    margin: 15px 0;
}
/* ------------scroll------------- */
#header>.fix{
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 100;
}
#header>.fix>#bottom{
    display: none;
}
